aiosmtplib
annotated-types
anyio
bcrypt==3.2.2
bidict
certifi
cffi
charset-normalizer
click
cloudinary
sendgrid
colorama
cryptography
dnspython
ecdsa
email_validator
environs
fastapi
fastapi-socketio
h11
httpcore
httpx
idna
Jinja2
MarkupSafe
marshmallow
motor
passlib
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
pymongo
python-dotenv
python-engineio
python-jose
python-multipart
python-socketio
requests
rsa
simple-websocket
six
sniffio
starlette
typing_extensions
urllib3
uvicorn
wsproto
slowapi